
<% if user_signed_in? %>

   <% else %>

		<div class="jumbotron">
			
		   <h1>Buy,Sell and Trade your Games!</h1>
		     You've found the home page for the 
		     <%= link_to "Game Trading", "http://onemonthraills.com" %>
		     application.
		  
		    <p>
		     <%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-lg" %>
		    	
		    </p>

		</div>
<% end %>