
   

<div class="jumbotron">
	
   <h1>Welcome to One Month Rails! :) </h1>
     You've found the home page for the 
     <%= link_to "One Month Rails", "http://onemonthraills.com" %>
     application.
  
    <p><a class="btn btn-primary btn-lg" href="#" role="button"> 
	Sign Up Now!
    </a>
   </p>

</div>